name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Pandoc
        uses: docker://pandoc/core:2.9
      - name: Convert Markdown to HTML
        run: |
          pandoc SoftwareLaborPr채sentationVorgaben.md -o SoftwareLaborPr채sentationVorgaben.html
          pandoc SoftwareLaborPr채sentationVorgaben.md -o SoftwareLaborPr채sentationVorgaben.html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: ../.. 
